* {
    font-family: JetBrainsMonoNLNerdFont;
    color: #ffffff;
    background: transparent;
}

#window {
    background: rgba(0, 20, 20, 0.5);
    margin: auto;
    padding: 12px;

    border-radius: 8px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}

#input {
    padding: 10px;
    margin: 8px;
    background-image: linear-gradient(to top, rgba(90, 90, 90, 0.6), rgba(35, 35, 35, 0.8));
    box-shadow: inset 0px -5px 8px rgba(0, 0, 0, 0.4);

    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

#outer-box {
    padding: 0px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 1);
}

#inner-box {
    padding: 0px;
}

#entry {
    padding: 4px;
    margin: 4px;
    margin-left: 8px;
    margin-right: 8px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3)0%, rgba(20, 20, 20, 0.2)50%, rgba(0, 0, 0, 0.3)50%);

    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.01);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    border-right-color: rgba(255, 255, 255, 0.25);
}
#entry:selected {
    background-color: rgba(0, 255, 255, 0.4);
    outline: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

#img {
    margin-right: 6px;
}

#text {
    margin: 2px;
}
